/* Liz Bright - css for partb*/

body {
    background-color: grey;
    font-family: 'Comfortaa', cursive;
    font-size: 100%;
    margin: 0 auto;
    min-height: 100%;
    min-width: 100%;
}

header {
    background-color: #393939;
    color: white;
    padding: 1em 0em 2em 0em;
    height: 90px;
    width: 100%;
}

header h1, h2 {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

header h1 {
    font-size: 2.8em;
    margin-bottom: 25px;
}

header h2 {
    font-size: 1.6em;
}

/* site navigation */
nav#site-nav {
    background-color: #FFF6E6;
    margin-bottom: 25px;
    margin-top: -15px;
    min-width: 100%;
}

nav#site-nav ul {
    list-style-type: none;
    text-align: center;
}

nav#site-nav ul li {
	display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
	padding-right: 75px;
}

/* last li */
#last {
    padding-right: 0px;
}

nav#site-nav a:link, a:visited, a:hover, a:active {
	color: coral;
	text-decoration: none;
}

a#youarehere {
    color: black;
    font-weight: bold;
}

.wrapper {
    height: 685px;
    width: 100%;
    position: relative;
}

/* div for canvas, dropdown, quote and sound  */
/* https://www.sitepoint.com/css-center-position-absolute-div/ */
#mycontainer {
    background-color: #FFF6E6;
    border: 2px solid grey;
    border-radius: 5px;
    clear: all;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin-left: -315px;
    padding: 35px 25px 5px 25px;
    overflow: auto;
    top: 100px;
    left: 50%;
    height: 400px;
    width: 600px;
    position: absolute;
}

/* https://www.proy.info/style-select-dropdown-using-css/ */
/* https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome */
.dropdown {
    display: block;
    height: auto !important;
    border: none;
    border-radius: 3px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: #FFF6E6;
    color: coral;
    font-size: 1.25em;
    line-height: 25px !important;
    outline: none;
    padding: 7.5px 50px 7.5px 13px !important;
    margin: 0 auto;
    margin-top: -15px;
    left: 200px;
    max-width: 100%;
    position: absolute;

    appearance: none;
    /* this is must */ -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

/* quotes */
.quote {
    color: darkgrey;
    font-size: .8em;
    margin: 0 auto;
    margin-left: -187.5px;
    padding-top: 50px;
    top: 600px;
    left: 50%;
    max-width: 100%;
    position: absolute;
}

span {
    color: coral;
}

#forwardButton {
    background: none;
    border: none;
    color: darkgrey;
    margin-left: 225px;
    font-size: 135%;
    font-weight: bold;
    top: 200px;
    left: 50%;
    position: absolute;
}

/* sound button */
/* https://fontawesome.com/v4.7.0/icon/play/ */
/* https://fontawesome.com/v4.7.0/icon/stop/ */
#buttonDescription {
    color: coral;
    font-size: .75em;
    margin-left: 132.5px;
    left: 50%;
    top: 385px;
    position: absolute;
}


#playButton {
    color: coral;
    margin-left: 170px;
    top: 400px;
    left: 50%;
    position: absolute;
}

/* left and right divs for canvases */
#borderleft, #borderright {
    background-color: darkgrey;
    top: -25px;
    height: 720px;
    width: 125px;
    position: absolute;
}

#borderleft {
    left: 0px;
}

#borderright {
    right: 0px;
}

/* footer */
footer {
    background-color: #393939;
    height: 50px;
    margin-top: 10px;
}

#logo {
    background-color: #FFF6E6;
    right: 125px;
    top: 900px;
    position: absolute;
}
