/* Liz Bright - additional css for partb */

.wrapper {
    height: 685px;
    width: 100%;
    position: relative;
}

/* div for canvas, dropdown, quote and sound  */
/* https://www.sitepoint.com/css-center-position-absolute-div/ */
#mycontainer {
    background-color: #FFF6E6;
    border: 2px solid grey;
    border-radius: 5px;
    clear: all;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin-left: -325px;
    padding: 35px 25px 5px 25px;
    overflow: auto;
    top: 55px;
    left: 50%;
    height: 400px;
    width: 600px;
    position: absolute;
}

/* https://www.proy.info/style-select-dropdown-using-css/ */
/* https://stackoverflow.com/questions/3397113/how-to-remove-border-outline-around-text-input-boxes-chrome */
.dropdown {
    display: block;
    height: auto !important;
    border: none;
    border-radius: 3px;
    background: url("https://image.ibb.co/iMeAJv/selectbox_arrow.png") right center no-repeat;
    background-color: #FFF6E6;
    color: coral;
    font-size: 1.25em;
    line-height: 25px !important;
    outline: none;
    padding: 7.5px 50px 7.5px 13px !important;
    margin: 0 auto;
    margin-top: -15px;
    left: 200px;
    max-width: 100%;
    position: absolute;

    appearance: none;
    /* this is must */ -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

/* quotes */
.quote {
    clear: all;
    color: darkgrey;
    font-size: .8em;
    margin: 0 auto;
    margin-left: -200px;
    padding-top: 60px;
    top: 550px;
    left: 50%;
    max-width: 100%;
    position: absolute;
}

span {
    color: coral;
}

.author {
    color: darkgrey !important;
    float: right;
    font-style: italic;
    font-size: .9em;
}

/* button for changing the images */
/* https://www.w3schools.com/icons/fontawesome_icons_webapp.asp */
#randombuttonDescription {
    color: coral;
    font-size: .75em;
    margin-left: -200px;
    left: 50%;
    top: 395px;
    position: absolute;
}

#randomButton {
    color: darkgrey;
    margin-left: -10px;
    font-size: 110%
    font-weight: bold;
    top: 410px;
    left: 50%;
    position: absolute;
}

/* sound button */
/* https://fontawesome.com/v4.7.0/icon/play/ */
/* https://fontawesome.com/v4.7.0/icon/stop/ */
#buttonDescription {
    color: coral;
    font-size: .75em;
    margin-left: 75px;
    left: 50%;
    top: 395px;
    position: absolute;
}

#playButton {
    color: darkgrey;
    font-size: 75%;
    margin-left: 180px;
    top: 410px;
    left: 50%;
    position: absolute;
}

/* left and right divs for canvases */
#borderleft, #borderright {
    background-color: darkgrey;
    top: -25px;
    height: 600px;
    width: 125px;
    position: absolute;
}

#borderleft {
    left: 0px;
}

#borderright {
    right: 0px;
}

/* footer */
footer {
    background-color: #393939;
    clear: all;
    color: white;
    height: 50px;
    margin-top: -110px;
}

.credits {
    color: white;
    float: right;
    font-size: .5em;
    line-height: 15px;
    margin-bottom: 5px;
    padding-right: 150px;
    top: 750px;
}

/* Extra small and small devices (landscape phones, 300px and up) */
@media (min-width: 300px) and (max-width: 767px) {
    .quote {
        clear: all;
        color: darkgrey;
        font-size: .5em;
        margin: 0 auto;
        margin-left: -200px;
        padding-top: 60px;
        top: 550px;
        left: 50%;
        max-width: 100%;
        position: absolute;
    }

    .quote p {
        font-size: .5em;
    }

    .author {
        color: darkgrey !important;
        float: right;
        font-style: italic;
        font-size: .6em;
    }
}
