/* Liz Bright - css for Final Project */

body {
    background-color: grey;
    font-family: 'Comfortaa', cursive;
    font-size: 100%
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

header {
    background-color: #393939;
    color: orange;
    padding-top: 1em;
    padding-bottom: 2.5em;
    overflow: hidden;
    height: 90px;
    min-width: 100%;
}

header h1, h2 {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

header h1 {
    font-size: 2.8em;
    margin-bottom: 25px;

}

header h2 {
    font-size: 1.6  em;
}

.wrapper {
    width: 100%;
}

.background {
    height: 685px;
    position: relative;
}

/* css left side */
/* https://www.sitepoint.com/css-center-position-absolute-div/ */
.forecast {
    background-color: #FFF6E6;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    left: 50%;
    margin-left: -315px;
    padding: 35px 25px 5px 25px;
    overflow: auto;
    top: 75px;
    height: 400px;
    width: 600px;
    position: absolute;
}

/* site navigation */
nav#site-nav {
    background-color: white;
    margin-bottom: 25px;
    margin-top: -15px;
    min-width: 100%;
}

nav#site-nav ul {
    list-style-type: none;
    text-align: center;
}

nav#site-nav ul li {
	display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
	padding-right: 75px;
}

/* last li */
#last {
    padding-right: 0px;
}

nav#site-nav a:link, a:visited, a:hover, a:active {
	color: coral;
	text-decoration: none;
}

a#youarehere {
    color: black;
    font-weight: bold;
}

/* quote on home page */
.quote {
    margin-top: 105px;
}

.quote p {
    color: darkgrey;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    line-height: 28px;
    margin-left: 15px;
    text-align: left;
}

span #weather {
    color: salmon;
}

#author {
    font-style: italic;
    font-size: .91em;
    margin-left: 240px;
}

#canvas3, #canvas4 {
    background-color: grey;
    top: 0x;
    position: absolute;
}

#canvas3 {
    left: 0px;
}

#canvas4 {
    right: 0px;
}

#phototag {
    color: #393939;
    font-size: 1em;
    text-decoration: none;
    top: 610px;
    right: 150px;
    position: absolute;
}

/* css footer */

footer {
    background-color: #393939;
    height: 50px;
}

footer #logo {
    background-color: #FFF6E6;
    right: 92.5px;
    top: 905px;
    position: absolute;
}
