/* Liz Bright - additional css for home page */

.wrapper {
    width: 100%;
}

/* https://www.sitepoint.com/css-center-position-absolute-div/ */
.content {
    background-color: #FFF6E6;
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    margin-left: -325px;
    padding: 35px 25px 5px 25px;
    overflow: hidden;
    top: 250px;
    left: 50%;
    height: 400px;
    width: 600px;
    position: absolute;
}

/* quote on home page */
.quote {
    clear: all;
    padding: 115px 50px 50px 50px;
}

.quote p {
    color: darkgrey;
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    line-height: 28px;
    margin-left: 15px;
    text-align: left;
    vertical-align: center;
}

.author {
    float: right;
    font-style: italic;
    font-size: .91em;
    padding-right: 15px;
}

.winter {
    font-size: .91em;
    line-height: 20px;
}

/* left and right divs for canvases */
#borderleft, #borderright {
    background-color: darkgrey;
    top: 168.5px;
    height: 600px;
    width: 125px;
    position: absolute;
}

#borderleft {
    left: 0px;
}

#borderright {
    right: 0px;
}

/* footer */
footer {
    background-color: #393939;
    clear: all;
    height: 50px;
    margin-top: 600px;
}

footer p {
    color: white;
    font-size: .5em;
    margin-bottom: 5px;
    padding-top: 10px;
    padding-right: 150px;
    top: 772.5px;
    float: right;
}
