/* Liz Bright - css for Final Project */

body {
    background-color: grey;
    font-family: 'Comfortaa', cursive;
    font-size: 100%
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

header {
    background-color: #393939;
    color: orange;
    padding-top: 1em;
    padding-bottom: 2.5em;
    overflow: hidden;
    height: 90px;
    min-width: 100%;
}

header h1, h2 {
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

header h1 {
    font-size: 2.8em;
    margin-bottom: 25px;

}

header h2 {
    font-size: 1.6  em;
}

.wrapper {
    width: 100%;
}

.background {
    height: 685px;
    position: relative;
}

/* https://www.sitepoint.com/css-center-position-absolute-div/ */
.forecast {
    background-color: #FFF6E6;
    border: 2px solid grey;
    border-radius: 5px;
    clear: all;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5em;
    left: 50%;
    margin-left: -315px;
    padding: 7.5px 25px 5px 25px;
    overflow: auto;
    top: 75px;
    height: 400px;
    width: 600px;
    position: absolute;
}

/* site navigation */
nav#site-nav {
    background-color: white;
    margin-bottom: 25px;
    margin-top: -15px;
    min-width: 100%;
}

nav#site-nav ul {
    list-style-type: none;
    text-align: center;
}

nav#site-nav ul li {
	display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
	padding-right: 75px;
}

/* last li */
#last {
    padding-right: 0px;
}

nav#site-nav a:link, a:visited, a:hover, a:active {
	color: coral;
	text-decoration: none;
}

a#youarehere {
    color: black;
    font-weight: bold;
}

.forecast h3 {
    color: coral;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: -10px;
}

.forecast ul {
    margin-left: -12px;
}

.forecast ul li {
    font-size: .75em;
    list-style-type: none;
    margin-left: -25px;
}

#forecast {
    font-size: .75em;
    padding-top: .5em;
}

#conditions {
    float: left;
    margin-top: -5px;
}

#moon {
    float: right;
    margin-top: -5px;
}

#moon h3 {
    padding-bottom: 3px;
}

#moon p {
    font-size: .75em;
}

.smallfont {
    font-size: .75em;
    padding-top: 2px;
}

#changelocation {
    font-size: .75em;
    top: 400px;
    left: 430px;
    position: absolute;
}

#changelocation h3 {
    color: coral;
}

#changelocation p {
    font-size: .75em;
}

/* #canvas3, #canvas4 {
    background-color: grey;
    top: 0x;
    position: absolute;
}

#canvas3 {
    left: 0px;
}

#canvas4 {
    right: 0px;
} */

form {
    background-color: white;
    border: 2px solid grey;
    border-radius: 5px;
    top: 222.5px;
    left: 690px;
    height: 200px;
    width: 420px;
    position: absolute;
}

fieldset {
    border: none;
    margin: 8px;
    margin-top: 20px;
    padding-top: 40px;
}

legend {
    color: orange;
    font-weight: bold;
    font-size: 1.75em;
    margin-bottom: -1em;
}

label {
    margin-right: 5px;
    font-weight: bold;
}

form p {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 16px;
}

form p:first-child {
    margin-bottom: 32px;
}

/* css footer */

footer {
    background-color: #393939;
    height: 50px;
}

#apitext {
    color: white;
    font-size: .5em;
    margin-bottom: 5px;
    top: 905px;
    left: 1050px;
    position: absolute;
}

footer #logo {
    background-color: #FFF6E6;
    right: 92.5px;
    top: 905px;
    position: absolute;
}
